.agency-select {
  display: inline-block;
  border: 1px solid #666;
  border-radius: 5px;
  padding: 1rem;
}

.charts {
  display: flex;
  flex-wrap: wrap;
  max-width: 100vw;
  justify-content: space-evenly;
}

.chart {
/*  flex-basis: 0;
  min-width: 500px;
  flex-shrink: 0;*/
  flex: 0 0 500px;
  margin-right: 15px;
  margin-bottom: 15px;
  padding: 10px;
  border: 2px solid #555555;
}

.chart :last-child {
  padding-bottom: 0;
  margin-bottom: 0;
}

.chart h3 {
  margin: 0;
}

.chart canvas {
}

/* For deployment replace this with bootstrap */
.chart .table-holder table {
  width: 100%;
  border-collapse: collapse;
}

.chart .table-holder th {

}

.table th,
.table td {
  font-size: 0.85em;
  text-align: center;
  border-right: 1px solid #aaaaaa;
  border-bottom: 1px solid #aaaaaa;
  padding: 3px 4px;
}

.table th .units {
  font-size: 0.85em;
  font-weight: normal;
}

/* Row colors */
.highlight {
  font-weight: bold;
  background-color: #fff3cd !important;
}

.complete {
  background-color: #d4edda;
}
.selected .complete,
.highlight .complete {
  background-color: #84cb95;
}

.goal-met {
  background-color: #cce5ff;
}
.selected .goal-met,
.highlight .goal-met {
  background-color: #59aafe;
}

/* Border rules */
/* Always after the rop row */
.datatable thead tr:first-child th,
/* first col */
.datatable tbody tr :first-child,
/* second col */
.datatable thead tr:nth-child(2) th:nth-child(3),
.datatable tbody tr :nth-child(4),
/* every other col */
.datatable thead tr:nth-child(2) th:nth-child(2n + 3),
.datatable tbody tr :nth-child(2n + 4)
{
  border-right: 2px solid #000000;
}

.goals {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
}

.goals li {
  font-size: 0.85em;
  text-align: left;
  margin-right: 1.5rem;
  margin-bottom: 0.5rem;
}
.goals label {
  font-weight: bold;
}
.goals label:after {
  content: ':';
}
