.agency-select {
  display: inline-block;
  border: 1px solid #666;
  border-radius: 5px;
  padding: 1rem;
}

.charts {
  display: flex;
  flex-wrap: wrap;
  max-width: 100vw;
  justify-content: space-evenly;
}

/* Print styles */
@media print {
  .charts {
    display: block;
  }

  .agency-select {
    display: none;
  }

  .chart {
    flex: none;
    page-break-inside: avoid;
  }

  h2 {
    margin-bottom: 2rem;
  }

  .summary-table {
    margin-top: 0;
  }

  .dataTables_filter {
    display: none;
  }

  .helper-text {
    display: none;
  }
}

.chart {
/*  flex-basis: 0;
  min-width: 500px;
  flex-shrink: 0;*/
  flex: 0 0 500px;
  margin-right: 15px;
  margin-bottom: 15px;
  padding: 10px;
  border: 2px solid #555555;
}

.chart :last-child {
  padding-bottom: 0;
  margin-bottom: 0;
}

.chart h3 {
  margin: 0;
}

.chart canvas {
}

/* For deployment replace this with bootstrap */
.chart .table-holder table {
  width: 100%;
  border-collapse: collapse;
}

.chart .table-holder th {

}

.table th,
.table td {
  font-size: 0.85rem;
  text-align: center;
  border-right: 1px solid #aaaaaa;
  border-bottom: 1px solid #aaaaaa;
  padding: 3px 4px;
}

.chart .table-holder tbody tr:nth-of-type(2n+1) {
  background-color: #eeeeee;
}

.goals {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
}

.goals li {
  font-size: 0.85rem;
  text-align: left;
  margin-right: 1.5rem;
  margin-bottom: 0.5rem;
}
.goals label {
  font-weight: bold;
}
.goals label:after {
  content: ':';
}

.summary-table {
  /*margin-top: -2rem;*/
}

.complete {
  background-color: #d4edda;
}

.goal-met {
  background-color: #cce5ff;
}

.highlight {
  font-weight: bold;
  background-color: #fff3cd;
}
